@import url("https://fonts.googleapis.com/css2?family=Arima&family=Cormorant+SC:wght@500&family=Edu+VIC+WA+NT+Beginner:wght@700&family=Fira+Sans:ital,wght@0,400;1,300&family=Josefin+Sans&family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  letter-spacing: 0.5vh;
  transition: 0.5s all;
}

html {
  scroll-behavior: smooth;
  cursor: default;
}

body.main {
  background-color: rgba(0, 0, 0, 0.87);
}

body.main.image {
  background-size: cover;
  background-repeat: no-repeat;
}

h1.page-title {
  font-size: 10vh;
  color: #3dadb8;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
}

h2.subtitle {
  font-size: 4vh;
  color: white;
  font-family: "Poppins", sans-serif;
}

div.segment {
  display: flex;

  justify-content: center;
  align-items: center;
}

div.segment.background.darker {
  background-color: rgba(0, 0, 0, 0.8);
}

div.segment.background.dark {
  background-color: #1b1c1d;
}

div.segment.background.cyan {
  background-color: #11adab;
}

div.segment.shadow.cyan {
  box-shadow: #3edad8 12px 4px 12px 12px;
}

div.segment.column {
  flex-direction: column;
}

div.segment.big {
  min-height: 100vh;
}

div.segment.large {
  width: 100%;
}

div.segment.center {
  justify-content: center;
  align-items: center;
  text-align: center;
}

div.segment.spaced {
  justify-content: space-around;
  align-items: stretch;
}

div.segment.pad {
  padding: 5vh 2vh;
}

div.segment.wrap {
  flex-wrap: wrap;
}
body::-webkit-scrollbar {
  width: 1vh;
}
body::-webkit-scrollbar-track {
  background-color: #9be0df;
}

body::-webkit-scrollbar-thumb {
  background-color: #191919;
  border-radius: 20px;
}
