<footer>
  <div class="div1Footer">
    <div class="divTitle">
      <h1 class="title" id="title1">
        Contato
        <p class="github">(GitHubs)</p>
      </h1>
      <h1 class="title">Páginas</h1>
      <h1 class="title">Suporte</h1>
    </div>
    <div class="divContent">
      <div class="div1">
        <p>
          <a class="aFooter" href="https://github.com/anaclarasantza"
            >Ana Clara</a
          >
        </p>
        <p>
          <a class="aFooter" href="https://github.com/httpsFlavia">Flávia</a>
        </p>
        <p>
          <a class="aFooter" href="https://github.com/Geraldo-B-Neto"
            >Geraldo</a
          >
        </p>
        <p><a class="aFooter" href="https://github.com/Isac471">Isac</a></p>
        <p>
          <a class="aFooter" href="https://github.com/Joao-V-Dias">João Dias</a>
        </p>
        <p>
          <a class="aFooter" href="https://github.com/rachzy">Pedro Henrique</a>
        </p>
        <p><a class="aFooter" href="https://github.com/oBST01">Rodolfo</a></p>
      </div>
      <div class="div2">
        <p><a class="aFooter" href="/index.html">Início</a></p>
        <p>
          <a class="aFooter" href="/index.html#articleShow">Quem somos</a>
        </p>
        <p>
          <a class="aFooter" href="/index.html#articleHow">Como funciona</a>
        </p>
        <p>
          <a class="aFooter" href="/index.html#articleFr">Torne-se parceiro</a>
        </p>
        <p><a class="aFooter" href="/cidades.html">Cidades</a></p>
        <p><a class="aFooter" href="/filmes.html">Filmes</a></p>
      </div>
      <div class="div3">
        <a class="aFooter" href="mailto:holomoviescontact@gmail.com">
          <button class="buttom">
            <i class="envelope icon"></i>
            GMAIL
          </button>
        </a>
      </div>
    </div>
    <div class="copy">
      <h5>© COPYRIGHT 2022</h5>
    </div>
  </div>
</footer>

<style>
  footer {
    background-color: #191919;
    text-align: center;
  }

  /* Semantical configs */

  .title {
    font-family: Poppins;
    font-size: 2.7vh;
    color: #ffffff;
    margin-right: 1vh;
  }
  .aFooter {
    font-family: Poppins;
    color: #ffffff;
    font-size: 2vh;
    padding: 0.2vh;
  }
  .github {
    font-size: 1.7vh;
    letter-spacing: 0.3vh;
  }

  /* Box Sizes and Configs*/

  .divTitle {
    display: flex;
    justify-content: space-around;
  }
  .divContent {
    display: flex;
    padding: 1vh 1vh 3vh 1vh;
    text-align: left;
    justify-content: space-around;
  }
  .div2 {
    margin-left: -9vh;
  }
  #title1 {
    margin-top: 4vh;
  }
  .buttom {
    background-color: #3edad8;
    padding: 1.5vh 2vh 1.5vh 2vh;
    border-radius: 5vh;
    font-family: Poppins;
    font-size: 2.5vh;
    margin-right: -3.8vh;
    border-color: #ffffff00;
    font-weight: bold;
  }

  /* Copyright */

  .copy {
    text-align: center;
    font-family: Poppins;
    color: #ffffff;
    font-size: 2vh;
    padding: 1vh 0;
    background-color: #559e9c;
  }

  /* Animations */

  .aFooter:hover {
    background-color: #3edad8;
    transition-delay: 0.1s;
    color: black;
    font-weight: bold;
    padding: 0.6vh;
  }
  .buttom:hover {
    transition-delay: 0.08s;
    transition: 0.3s;
    transform: scale(1.15);
    color: white;
    background-color: #191919;
    border-color: #3edad8;
    cursor: pointer;
  }
</style>
