<head>
  <link
    rel="stylesheet"
    type="text/css"
    href="../../semantic/semantic.min.css"
  />
</head>
<div>
  <div class="ui cyan top fixed menu inverted">
    <a href="/index.html">
      <div class="item">
        <img src="../../images/logo.png" />
      </div>
    </a>
    <a href="/index.html" class="item">Home</a>
    <a href="/cidades.html" class="item">Cidades</a>
    <a href="/filmes.html" class="item">Filmes</a>
  </div>
  <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"
  ></script>
  <script src="../../semantic/semantic.min.js"></script>
</div>
